.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    flex-grow: 2 1;
   
  }

  .titleAndImage{
    display: flex;
    align-items: center;
    text-align: start;
    font-style: italic;
   font-family: cursive;
  }
  
  .pizza{
    border-radius: 50%;
    animation: roundRotation 3s  infinite ;
  }


  @keyframes roundRotation {
    0%{
      transform: rotate(0deg);
    }
   
    50%{
      transform: rotate(360deg);
    }
  
    100%{
      transform: rotate(0deg);
    }
    
  }
  
  .main-image {
    width: 100%;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width: 100%;
    /* height: 67rem; */
    /* object-fit: cover; */
    overflow: hidden;
    /* transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem); */
  }